[2021-10-15 13:59] ColmMassey opened #7 "Evaluate Mirroring GFOs food project map"
Which fields for the projects on this map https://foodmap.goodfoodoxford.org/ can we model easily? Which don't make sense to model and what is left?

The source data is available on Nextcloud at
..CodeOperatives/Owned by Oxford/Food_GFO_21_10_15.xls

[2021-10-15 14:11] ColmMassey opened #1 "Minor issues for first public outing of OBO"
- [x] Choose name of the page, as appears in the webpage tab.
- [x] Choose style of map tiles used. See https://www.thunderforest.com/ for options.
- [x] Choose Primary filter category. There isn't one chosen ATM, so they are all lumped into All Entries. Not very satisfactory. There will inevitably always be some initiatives that can't be categorised base on a filter choice.
- [x] Decide how we ap

[2021-10-16 14:58] ColmMassey opened #2 "Missing co-op"
The Renewable Energy coop is on the dotcoop map as it has the domain http://r-eco.coop
It is also on the https://coopsuk.solidarityeconomy.coop/ website.

It's postcode is OX2 6HQ, however it doesn't appear in the directory on the owned by oxford website. If you search for it with key word search, it is in there twice as expected. So the directory is missing it for some reason.

[2021-11-01 15:32] wu-lee opened #3 "ObO needs sea-map to support datasets with disparate fields / vocabs"

[2021-11-01 15:33] wu-lee opened #4 "ObO map needs a popup.js mechanism which supports all datasets"

[2021-11-01 15:33] wu-lee opened #5 "add ObO to shipshape"

[2021-11-01 15:33] wu-lee opened #6 "ObO map doesn't update directory tab when dataset changed"
the directory tab seems to contain a full list of initiatives whatever data set is selected

also, there seems to be a bug in the  directory - after some use of filters / datasets, clicking the items no longer zooms to the pin - but there is an error in the console,

[2021-11-08 17:22] wu-lee commented on #4
I've created a custom pop-up based on the ICA custom pop-up, minus the email field and the vocabs (only the Solidarity Oxford dataset seems to have any of those).

Specifically, it shows: name, description, address, and homepage, facebook and twitter links.

[2021-11-08 17:33] wu-lee commented on #3
The various datasets use these fields:

ObO:

    id, name, homepage, description, street_address, postcode, latitude, longitude

Oxford:

    id, name, homepage, description, street_address, locality, postcode, latitude, longitude, twitter, facebook, org_structure, primary_activity, activities,

Co-Ops UK:

    id, name, homepage, description, street_address, locality, region, postcode, countryId

[2021-11-08 17:49] wu-lee commented on #6
@ColmMassey - what should we show in the directory tab?

Vocabs (org. structure, activities) don't seem to be appropriate, most initiatives don't have these (only Solidarity Oxford). Region might be - if they can be made consistent across datasets to mean an Oxfordshire region.  Is there anything else more suitable?

[2021-11-08 17:54] wu-lee commented on #6
Also: can't currently replicate this bug, and for now I've removed all filterable fields, because the 1.x sea-map code doesn't currently support filterable fields which are not vocab terms.  So nothing shows in the directory, and there are no drop-downs.

[2021-11-08 18:50] wu-lee commented on #7
Fields in the spreadsheet are:
- Organisation Id
- Organisation Created At
- Organisation Updated At
- Organisation Name
- Editor
- Organisation Website
- Organisation Facebook
- Organisation Twitter
- Organisation Spreadsheet Import Id
- Location Id
- Location Created At
- Location Updated At
- Street Address
- City
- Postcode
- Location Telephone
- Location Email
- Message
- Disabled Access
- Mo

[2021-11-08 20:28] ColmMassey commented on #7
facebook: Organisation Facebook
twitter: Organisation Twitter

Are they missing off the first list?

[2021-11-08 20:30] ColmMassey commented on #7
How much time required to mirror those fields into a triple store? To be added to OBO set.

[2021-11-09 12:11] wu-lee commented on #7
Oops, they were. I've updated the list.  Organisation Id is presumably more correct here... unless the data is one row per location, in which case there may be duplicates. But then there is another problem, which is that the data has more than one location per organisation, which our current `standard.csv` schema doesn't really support.  In which case we might need to fudge things and try to use L

[2021-11-09 12:20] wu-lee commented on #7
Yes, noticed that in issue #1, which is why I came here.  One of the bigger jobs, I think -

Having looked at the data more closely, I see that yes, Location Id is unique, Organisation Id is not (Cherwell Larder, for example, has a ton of locations).

This may have implications in the directory panel, such as, should it show lots of duplicate names? And the behaviour will depend on the assumptions

[2021-11-09 12:26] wu-lee commented on #1
How do we choose? Or has someone at ObO chosen?

[2021-11-09 17:10] wu-lee commented on #1
I've added the covid-mutual-aid dataset, filtered with:

    FILTER(REGEX(UCASE(?street), 'OX[0-9]{1,2}\\b'))

This attempts to limit the query to addresses which seem to have an oxford postcode, although the data does not have an explicit postcode field so it's a bit fuzzy, and may miss  out some Oxford-located initiatives if they don't include a postcode.

[2021-11-09 20:52] ColmMassey commented on #1
You may have broken it in the process!

[2021-11-09 21:05] wu-lee commented on #1
Yes, I did, I rediscovered a limitation of sea-map which breaks it when deployed at a path other than top level (i.e. like `/owned-by-oxford/`) and my hack I worked around it with last time I deployed it.  Attempting to fix it properly I ran out of time, and had to go. Going to make another attempt shortly.

[2021-11-09 21:30] wu-lee commented on #1
Ok, fixed that sea-map problem, so its back up again!

[2021-11-10 09:18] ColmMassey commented on #7
Perhaps we should have a little design brainstorm about options for handling 'outlets'. I think Matt had a design to handle CO-ops UK but it hasn't been reviewed in years. It is no doubt something we will encounter again and again.

[2021-11-10 09:20] ColmMassey commented on #1
It's in their court. Not urgent for anyone, so we can leave it for now.

[2021-11-10 09:26] ColmMassey commented on #6
For now I think it needs to be geographic. Can we filter by the first half of the postcode?

[2021-11-11 10:18] wu-lee commented on #1
Ok, I've added an open-data conversion for good-food-oxford (still manual currently), and added the dataset to the ObO site. It's deployed and should be visible.

I use the Location Id as the prirmary identifier, and merely capture (but ignore) the Organisation Id.

There's no usable description field, unfortunately.

[2021-11-11 10:18] wu-lee commented on #1
Also the covid-mutual-aid data is added now too.

[2021-11-11 10:27] wu-lee commented on #7
As I mentioned in #1, I've added an open-data conversion for good-food-oxford (still manual currently).

It's using ESSGLOBAL 2.1.  As such I set the Country Id to `GB` and leave Territory Id blank... (I wonder if the latter field really deserves to be in the standard.csv schema, it's very ICA specific.)

I use the Location Id as the prirmary identifier, and merely capture (but ignore) the Organis

[2021-11-11 12:08] wu-lee commented on #5
This is now added and shipshape redeployed.

I also corrected the newbridge domain to the new location at *.maps.solidarityeconomy.coop/newbridge

[2021-11-11 14:03] #5 closed, assigned to nobody

[2021-11-12 17:49] #7 closed, assigned to wu-lee

[2021-11-12 17:55] ColmMassey commented on #3
I think we agreed that for this next iteration we would create a field 'short postcode', which is the first half of the postcode. It would be temporarily created within the javascript rather than a real field being created. It would only be useful for UK data, but valuable when there are no other common fields that make sense to be used as the primary field used for the Directory.

[2021-11-15 23:55] wu-lee commented on #3
I've done this, and deployed a development version on the dev-1 server.

I'm thinking that the next (or at least impending) sea-map development step is to move all the field definitions out of the core and make them configurable.

[2021-11-15 23:56] wu-lee commented on #6
See #3, now deployed

[2021-11-15 23:59] wu-lee commented on #1
See #3, short postcode now being used for the directory.

[2021-11-17 15:19] ColmMassey commented on #1
Great. Works well. Would it be hard to extend to also do very short? i.e. 3 digits?

[2021-11-17 15:24] ColmMassey commented on #6
The directory not updating bug is still there. But actually it is limited to the Covid-Mutual-Aid data...

[2021-11-17 15:28] ColmMassey commented on #3
Does this warrant a new ticket. Title still seems appropriate.

[2021-11-18 11:18] wu-lee commented on #1
Not sure I understand exactly - isn't OX10 shorter than 3 digits? Or do you mean 3 characters? That would however conflate OX1 and OX10 to OX19, is that useful?

However, in general, this is a hard-wired alteration of the list of fields in the sea-map code - although not a major change, it is probably rather too specific in the general case and warrants being moved out to site-specific customisati

[2021-11-18 11:27] wu-lee commented on #6
I think this is that, although we limit the covid-mutual-aid data to those items with Oxford postcodes in the `street` attribute, we don't currently have a way to get that postcode into the `postcode` (and thereby the `shortPostcode` attribute using SPARQL.  So these initiatives have no entries in the directory.

I'll see if I can find a SPARQL1.0 (Virtuoso) friendly way to do that - in general it

[2021-11-18 11:47] wu-lee commented on #6
Correction: actually, I already did that - just the postcode isn't included in the query. I've added it to ObO's query for CMA now, and that seems to have done the trick.

Doing it in SPARQL1.0 doesn't seem easy, so far there seems to be a way to add a constant field, not sure if this can be extended to one computed from the others...

[2021-11-18 11:53] wu-lee commented on #3
The aim is something we want in general, yes - but not just for ObO. So perhaps it could be moved to sea-map, or superceded by one there? I can't find the issue about field reviews offhand, but that seems related.

[2021-11-18 12:07] wu-lee commented on #2
Is this resolved now the directory is implemented? I see the missing initiative in the directory.

(Actually, also now that I fixed a bug in the postcode-shortener, which used to smoosh postcodes like `OX2 6TP` into `OX26TP` and then extract the short postcode as `OX26`. It doesn't smoosh now, so this case gets `OX2` as expected; pre-smooshed postcodes from the data still will, however, and I'm no

[2021-11-18 12:10] wu-lee commented on #4
@ColmMassey  I can't remember why this was moved back into 'In progress'... Is there an outstanding problem with this?

[2021-11-18 12:52] wu-lee commented on #1
I've set the `defaultOpenSidebar` option to `false` in the ObO map config. Unfortunately there's a bug which makes it open anyway. Fortunately, I think I fixed that (hopefully without introducing new sidebar opening bugs in less obvious cases).  Anyway, it doesn't open by default now in ObO.

See also https://github.com/SolidarityEconomyAssociation/sea-map/issues/131#issuecomment-972832184

[2021-11-18 12:54] wu-lee commented on #1
This may be nearly fixed as per https://github.com/SolidarityEconomyAssociation/sea-map/issues/125#issuecomment-971588929 - but if not, some sensible text (plus translations?) is needed.

[2021-11-18 13:25] ColmMassey commented on #2
Great.

[2021-11-18 13:25] #2 closed, assigned to wu-lee

[2021-11-18 13:27] ColmMassey commented on #1
I have confused you. But independently you addressed my request and we can search for OX1, OX2

[2021-11-18 13:31] ColmMassey commented on #1
Is this still relevant as we are now using postcodes?

[2021-11-18 13:33] #6 closed, assigned to wu-lee

[2021-11-18 15:28] wu-lee commented on #1
Suspect it isn't, if postcodes are sufficient.

[2021-11-26 01:55] #4 closed, assigned to wu-lee

[2022-01-24 13:08] ColmMassey opened #8 "Create Public Map for OBO Website"
Create a 'clean' sea-map which will be used for the public face of the OBO project.

- [x] - Create it at obo-public for now.
- [x] - Only include the airtable dataset to start.
- [x] - Choose style of map tiles used. See https://www.thunderforest.com/ for options.
- [x] - Put sensible text in the about/info box.
- [ ] - Check it works fine in the wordpress iframe.
- [ ]

See https://github.com/So

[2022-01-24 13:13] ColmMassey commented on #8
@MelissaMc20 can you add any features we may have discussed that would be specific to the public OBO map here?

[2022-01-24 13:27] ColmMassey commented on #1
We have made the decision to make 2 sea-map instances for the OBO project. The current one will remain for the planners and steering committee etc, and provide access to as much relevant info as possible. We now need a second one, which will be cleaner and be the one for public consumption. I'll create a new ticket for that one and specify what it needs there.
https://github.com/SolidarityEconomyA

[2022-01-24 13:28] ColmMassey commented on #1
We can keep this one open for the moment for any discussions on what still needs finishing on the non public map.

[2022-01-24 13:36] ColmMassey opened #9 "Review how markers/icons are visualised on map"
We currently have simple options for how we display markers and icons on markers. We need design a way of configuring more flexible options. It needs to cope with data from multiple sources, and what happens when different combinations of source data are selected.

We may also want to extend it to include highlighting. We should start with a few stories.

[2022-01-24 13:40] ColmMassey commented on #9
Story 1:
OBO wants to be able to illustrate that some of the projects/organisations displayed on the public map have 'joined' the OBO initiative. ALL initiatives on the map follow the same colour coding and choice of icons, but 'non-members' have a much more washed out/slightly translucent colouring.

[2022-01-24 13:44] ColmMassey commented on #9
@MelissaMc20

[2022-01-24 14:08] ColmMassey commented on #8
https://jamboard.google.com/d/1Ukiym4nlhFiyMKtyNz2iSusUZzx77stDRjcMdGnH8Ds/viewer?f=5

[2022-01-24 17:58] ColmMassey opened #10 "Evaluate forming read only derived Airtable tables or colour coding cells"
We want to create a clear way to indicate to an airtable user which data is being exported to the map. This could be done in two ways.

Firstly, can colour code all the cells in the _Organisations OBO_ table that are to exported. We could then highlight all the public fields and rows which have had the _Ready To Map_  cell ticked.

Another method would be to create a derivative table, (read only)

[2022-01-24 18:05] ColmMassey opened #11 "Add Organisational Type as a field to Airtable"
Get list of supported terms for Organisational Structure VES
(See results of this Issue https://github.com/SolidarityEconomyAssociation/map-sse/issues/2)

Create a new field in Organisations OBO with that title. Oblige the user to select only from the list of supported terms.

Start supporting this field in the Owned By Oxford directory and map.

[2022-01-26 12:20] MelissaMc20 commented on #8
[[- Layers to be able to switch round, something that would let you put one layer on top of the other when toggled on, and to be able to switch them round if sections from one layer are appearing under another (therefore not selectable)
- Clicking the polygons on the toggle layers to give information as to why they're categorised the way they are ]]

- Colour co-ordinated marker pins for each sect

[2022-01-26 14:41] ColmMassey commented on #9
Duplicate of https://github.com/SolidarityEconomyAssociation/sea-map/issues/98 and
https://github.com/SolidarityEconomyAssociation/sea-map/issues/107

[2022-01-26 18:00] ColmMassey opened #12 "Start supporting new fields from Airtable"
OBO team will add structure, activities and relationships fields to the OBO Organisations.

For structure they will use Economic Activities/Sectors (Modified)
For activities they will use Organisational Structure

They are exploring if they will keep to the existing options available under _Type of Relationship_ field which would be local or refine it so that it could be used generically for CWB r

[2022-01-26 18:01] ColmMassey commented on #12
If we can generate these lists as an output from https://github.com/SolidarityEconomyAssociation/map-sse/issues/2, they can be loaded directly into Airtable and used as dropdown options for entries in the respective field.

[2022-01-26 20:06] ColmMassey commented on #11
Duplicate of https://github.com/SolidarityEconomyAssociation/owned-by-oxford-project/issues/12

[2022-01-26 20:06] #11 closed, assigned to nobody

[2022-01-26 20:16] ColmMassey opened #13 "Export and process larger, 'private' dataset from Airtable"
The subset of the Organisations ObO table exported for the public version of the ObO map needs to be complimented by a fuller table, for internal use.

It should export all the valid rows and the following fields here

https://airtable.com/appr96wyWydb1ryUS/pagqg9s4a3cz4q7Gi/preview?mGXMb=reclwCPFBuFI6oU8X

Description, Website, Address, Post Code, Type of Relationship, Last Modified and Activites

[2022-01-27 11:16] ColmMassey commented on #9
Story 2: The Mersey green project have commissioned an artist to create some icons to identify the location of an initiative on their sea-maps, based on the _Primary Activities_ of an initiative . (https://leafletjs.com/examples/custom-icons/) They tell us how they want them to be mapped to each activity. We use them to replace both the currently used marker and icon.

[2022-01-27 11:24] ColmMassey commented on #9
Story 3: We begin publishing the fact that a Dotcoop registrant has also registered to use the coop marque. We would like to highlight the markers of all these dotcoop registrants.

[2022-01-27 14:36] #10 closed, assigned to wu-lee

[2022-02-02 11:54] wu-lee commented on #8
https://dev.maps.solidarityeconomy.coop/obo-public/

These are done, but leaving checkbox checking for you after validation:
- Create it at obo-public
- Only include the airtable dataset (called `owned-by-oxford`)
- Put sensible text in the about/info box.

The code is still in the owned-by-oxford project, I've just split the `dev` branch into `public/dev` and `private/dev` branches. The idea bein

[2022-02-02 17:35] wu-lee commented on #12
Researching way to do this.... Airtable is annoying. They have really low limits on the number of items which can be inserted (10) or exported (100) from a table via the API.  This makes something which could be relatively simple, complicated.

I'll mention here again, we already suffer from this limit in the sausage-factory download, which would need some extra coding to deal with this API's foib

[2022-02-02 18:38] wu-lee commented on #12
None of the options here really work that well for our case: https://community.airtable.com/t/use-an-external-database-or-service-as-a-datasource/44156

As such I expect the simplest thing. if we don't want to invest too much time coding around this problem, is to manually import the vocab terms as tables and instruct the ObO users never to change them.

This then leaves a problem that references

[2022-02-02 20:20] wu-lee commented on #12
Reflecting on this ID problem, I notice that the "Type of Relationship" field is represented in the data as a value, not an identifier... It is a (multiple) select field - not a link to another table, as for "People". There's a single select type, too.

This would make things a bit easier in that, having entered the selection list (manually?) we can then rely on the values coming back in the data

[2022-02-03 10:15] ColmMassey commented on #8
I've emailed the CAG comms person who is doing the website. We are not hosting it. Did you see that email. I'll respond to the UI issues in another thread.

[2022-02-03 10:18] ColmMassey commented on #8
This is a LE feature as no current plans to add polys to sea-map.

[2022-02-03 10:47] ColmMassey commented on #9
If the config file we need to be able to define some simple rules which informs the UI which marker type,colour,icon, shoadowing etc should be used. For OBO I expect this will need to be something like

If initiative is not from owned-by-oxford dataset then reduce set saturation level of marker colour to 50% or
If initiative has a Relationship specified and it is one of the following (SteeringCOmm

[2022-02-03 10:49] ColmMassey commented on #9
Adding @wu-lee to the ticket as needs coder input to practicalities of how flexible this can be.

[2022-02-03 11:10] ColmMassey commented on #12
I think we need to go with this. They need to know that this is from a standard vocabulary, so they can't mess with it, but request changes via us.

[2022-02-04 17:06] ColmMassey commented on #12
The popup seems to be interpreting Organisation Structure as Legal Form Modified?

![Untitled](https://user-images.githubusercontent.com/1162642/152571575-822017cb-00bb-43ca-9039-fb30fa21a725.png)

[2022-02-04 17:33] ColmMassey commented on #12
I note that in the new Internationalisatiin spreadsheet, the EN description of Organisational Structure is "Alternative SSE Initiative or SSE Network Legal Form controlled vocabulary for SSE" which is wrong, but obviously not the cause of the dialog bug above. I can;t find any occurance of Legal Form Modified in the spreadsheet. It must be hard coded in the dialog or looking somewhere else at an o

[2022-02-04 18:12] wu-lee commented on #12
I think that's because that's what the vocab's title is defined to be in the version the dataset is referencing (the older V2a vocabs)

https://github.com/SolidarityEconomyAssociation/map-sse/blob/5e044bf388f40b9109ebff4a9b7ea3b3df649643/vocabs/standard/organisational-structure.skos#L13

The dataset should be migrated to the new vocabs, and the new vocabs fixed too.

[2022-02-10 12:56] ColmMassey commented on #12
In the interim can we correct that misnaming as Legal Form Modified is completley wrong and should be organisational structure?

[2022-02-14 13:39] ColmMassey commented on #1
@wu-lee can you swithch obo-public to use Primary Activity as the Directory filter?

[2022-02-28 16:19] ColmMassey commented on #1
Is there anything holding this back?

[2022-02-28 16:22] ColmMassey commented on #12
How long should this take?

[2022-03-01 18:15] wu-lee commented on #1
Only that my focus was elsewhere. I've redeployed with the primary activity as directory filter just now.

[2022-03-02 10:59] wu-lee commented on #12
Looking at this now. The tricky thing is that on a map which (at least in the private version) supports so many different datasets which use varying vocabularies and versions thereof, it's hard to see how to define some common category to index them by - as that requires a common vocabulary (and a common version thereof).

Right now we have a mix, and some of those (coops-uk) won't be quick to mig

[2022-03-02 12:18] wu-lee commented on #12
Ok, now done. Required switching the version of ESSGLOBAL in both obo-public site, owned-by-oxford (private) site, and the owned-by-oxford data generation.

[2022-03-02 16:30] ColmMassey commented on #12
I think that is safe to close.

[2022-03-02 16:30] #12 closed, assigned to wu-lee, ThomasDavisonsGit

[2022-03-02 16:32] #1 closed, assigned to wu-lee

[2022-03-02 16:37] #8 closed, assigned to wu-lee, MelissaMc20

[2022-03-07 14:40] wu-lee opened #14 "Investigate coloured icons for ObO pins"
Can we get them to be coloured by activity like the oxford map (for example)?

[2022-03-07 14:50] wu-lee commented on #14
Inspecting the code I discover:
- sea-map uses the Leaflet plugin Awesome Markers
- This has a JS parameter for markers (AKA pins) called `markerColor`
- sea-map passes the primary activity ID there, instead of a colour name
- This works for Oxford because the activity ID is of the form `a10`, `a20` etc. This gets stitched onto a class name, and sea-map has pre-defined appropriate styles defined w

[2022-03-07 15:35] wu-lee commented on #9
Miro design board: https://miro.com/app/board/o9J_ltkVpc4=/ (Over to the right of this board.)

[2022-03-07 15:38] MelissaMc20 commented on #9
https://xd.adobe.com/view/2f1ee132-c6fe-4355-967a-3ca4c363bfc9-7a4d/

[2022-03-09 12:28] wu-lee commented on #14
It is possible to include a map site specific stylesheet with appropriate definitions to make the colours come back.  The main problem is that the way sea-map currently appends IDs onto class names results in an invalid class name (because the ID contains a colon). I can fix this fairly trivially, although perhaps this is best done after finishing the replumbing of sea-map fields I'm currently doi

[2022-03-10 14:45] wu-lee commented on #9
Just a note that we may need to be able to select different vocabs on the panel, and this should be incorporated in the plan

[2022-03-14 11:36] ColmMassey opened #15 "Put OBO map in their Wordpress site"
Creating a ticket here, as this ended up being trickier than expected. Can we copy in any notes/email exchanges that capture what the issue was, for future reference. What did we need to do in the end to fix the issue. Add the link to the wordpress page where the map is now displayed.

[2022-03-14 13:03] wu-lee commented on #15
The steps needed for a Wordpress.com site is:
- Upgrade to Business Plan. (This is the lowest level which supports the custom elements needed.)
- Create a Custom HTML block in the desired place. (An embed block is limited to a selection of whitelisted sites like You Tube, and will refuse to embed the SEA maps, even with Business Plan.)
- Insert the appropriate iframe tag. For example: `<iframe id=

[2022-03-14 14:10] ColmMassey commented on #15
And where is it displayed?

[2022-03-14 15:52] wu-lee commented on #15
The Owned by Oxford map is here: https://ownedbyoxford.org.uk/our-map/

[2022-03-14 16:18] ColmMassey commented on #15
I think we need to help them choose better URL arguments.

It should zoom to oxforshire and have the markers unclustrered I reckon. I wonder about the dialog/frame ratio. I think I'll bring @MelissaMc20 in here..Mel, are you familiar with the currently avaialble url arguments folks can set to configure their maps?

What was the last conversation I saw re marker colours. It wasn't the wordpress set

[2022-03-14 16:19] ColmMassey commented on #15
https://github.com/SolidarityEconomyAssociation/sea-map/blob/master/CONFIG.md

I think they may need different parameters depending on if it is in that narrow iframe or in the full screen.

[2022-03-14 18:41] wu-lee commented on #15
I don't expect Mel will know about the parameters for sea-map.

The ones currently could be improved, agreed. sea-map is supposed to auto-zoom I think but the config has inherited an `initialBounds` setting which prevents that. I've removed that just now, so it zooms in.  Possibly too much?  But this discussion doesn't belong in this ticket.

Generally the above assumes the site is configured corr

[2022-03-14 18:45] wu-lee commented on #15
No, it was that the newer version of sea-map's hardwired pin styles don't work with its way of representing vocab IDs.

See #14

[2022-03-22 16:15] ColmMassey commented on #9
Is this the right miroboard? Can you create a link zooming to the right part of the board?

[2022-03-22 16:24] ColmMassey commented on #9
With the current icon choices and size of screen/marker etc, it is not possible to see the icons.

Are we assuming that the icons are always white or at least monochrome?

Can you take a look at https://www.greenmap.org/make-map/green-map-icons @MelissaMc20

What options do we have for using icons from here?

[2022-03-23 10:11] wu-lee commented on #9
Um... That was me trying to capture information prior to talking about it in last week's meeting.  I confess to finding Miro boards disorienting, and that I'm not certain it is the right one?

[2022-03-23 10:40] ColmMassey commented on #9
I agree. I think we should not create them as large as we do, and we need to develop methodolgy for naming and 'filing' them.

[2022-03-23 13:20] ColmMassey commented on #9
I think this is a more useful link
https://miro.com/app/board/o9J_ltkVpc4=/?moveToWidget=3458764521614023183&cot=14

[2022-03-23 17:40] MelissaMc20 commented on #9
@ColmMassey - yes, I'd say icons inside markers should always be some sort of monochrome, white is the more aesthetically pleasing colour, with grey icon colour change depending on selected state.

I'm happy to consider markers from other sources, or abandoning the actual marker pin and only using icons could also work. I used the markers from Awesome-Marker as @wu-lee advised using multiple sourc

[2022-03-24 17:27] wu-lee commented on #14
Ok, I've tweaked sea-map to sanitise the vocab IDs before embedding them in a CSS class, so now along with a site-specific stylesheet, the coloured markers are back.  Enabling an option brings back colour to the directory.

I've also rediscovered why the vocab query is slow: no default graph URI supplied in the config.  This was removed earlier because the config is shared by all vocabs, which mak

[2022-03-24 17:44] ColmMassey commented on #14
I am seeing 2 colours sometimes when I expect just 1.

![2-colours](https://user-images.githubusercontent.com/1162642/159978003-92247214-be5a-4f5c-b043-bc666fb33218.png)

[2022-03-24 17:53] wu-lee commented on #14
Can't seem to replicate this? All three food markers are green for me, and checking all other single-category selections gets just one colour of marker

[2022-03-24 20:27] ColmMassey commented on #14
I can now no longer replicate it. Must have been some intermediate state...

[2022-03-25 14:44] #14 closed, assigned to wu-lee

[2022-03-25 14:52] ColmMassey commented on #15
@MelissaMc20, the marker colours are working as expected now, and the default zoom seems fine, so I think the only remaining tweak we could do atm is the dialog sizes. I think we need more than one set of dialog size configs.

At least we need one set for the full screen and one for in the wordpress page.

We also have the problem of narrow/phone screens when on the wordpress page. That might not

[2022-03-28 08:50] MelissaMc20 commented on #15
@ColmMassey I have time this afternoon if that works for you?

[2022-03-28 09:38] ColmMassey commented on #15
3:00?

[2022-03-28 09:50] MelissaMc20 commented on #15
Works for me

[2022-03-30 13:47] King-Mob commented on #15
Screenshots of the different options on the wordpress. I generated them by changing the iframe link using the dev tools. The first one was changed from `https://maps.solidarityeconomy.coop/obo-public/?showDatasetsPanel=false&disableClusteringAtZoom=12&maxZoomOnOne=8` to `https://maps.solidarityeconomy.coop/obo-public/?showDatasetsPanel=false&disableClusteringAtZoom=12&maxZoomOnOne=8&dialogueSize=w

[2022-03-31 08:42] ColmMassey commented on #15
Happy for you to make that call and we can see what the client says. Also need to see how it behaves/looks with panels open.

[2022-03-31 10:01] ColmMassey commented on #15
So we need proposed URL arguments for when the map is within wordpress page and also standalone?

[2022-03-31 10:34] wu-lee commented on #15
This is what @King-Mob proposed we use for ObyO.

https://maps.solidarityeconomy.coop/obo-public/?showDatasetsPanel=true&disableClusteringAtZoom=12&maxZoomOnOne=8&dialogueSize=width:60vw,height:200px,descriptionRatio:2

I've updated their Wordpress page here:

https://ownedbyoxford.org.uk/our-map/

But equally we could put those configs into the deployment.

[2022-03-31 11:08] ColmMassey commented on #15
Slightly concerned there may be too many cooks on this one. ;-) @MelissaMc20 are you happy that these settings look good on all screen options, whith panels opened and closed?

[2022-03-31 11:10] wu-lee commented on #3
The work on custom fields (which now uses TypeScript) is nominally working, and I am going to build on it to better support multiple datasets. For instance, discrepancies in the data fields can be ironed out by creating derived fields which normalise the discrepancies.

The main map site I've been working on this with is the Mutual Aid map:

https://dev.mutual-aid.solidarityeconomy.coop/

You shou

[2022-03-31 11:33] MelissaMc20 commented on #15
Slightly concerned that the box is increasing past the 'normal' width when on view full map. Is it possible to set a max width depending on screen size? @King-Mob

Also If panels are open, it should react as if the screen was decresing in width - as technically that is what's happening.

[2022-03-31 19:20] ColmMassey commented on #3
Great.

But that will need some explaining... I propose you present this at the next All-Hands.

[2022-04-25 14:02] #15 closed, assigned to wu-lee, MelissaMc20

[2022-05-16 10:32] ColmMassey opened #16 "OBO queries (12/5/22)"
1. -  If an organisation doesn't have a postcode but is located or works in a specific area what's the best way to ensure that it appears on the map in the correct location? For OCA it currently appears in central Oxford
2.  - Why is the ref  `${labels.noLocation}`
3.  - How much scope is there to edit the info on the pop up for each organisation?
4.  - Why does it say "activites (modified)" on th

[2022-05-16 10:42] ColmMassey commented on #16
1- My understanding is that if no address or postcode is provided, it will be positioned to a default location that we specify in the config, and it is central oxford atm. It is fine to specify a lon lat that is a park, say, and it should be positioned there. I expect that will create a dialog border with a little pointer to that point, so may suggest to viewers that that is its location.

2 - Can

[2022-05-16 13:58] ColmMassey commented on #16
1 - just needs testing
2 - Bug fix
3  - Calarify if it is tool tip or dialog - if dialog we can dsiplay anything which has been brought through from Airtable
4  - We can change the title of ativities to suit her needs -
4 -a - at some point deprecte Activities

[2022-05-17 09:44] ColmMassey commented on #16
1 - I tested the hypothesis, and my hunch seems to be right. Having no address and postcode means it considers the initiative to have no location data and italicises it in the directory and places it in the default centre of the map used for all locationless entities. It ignores the manually specified Lat and Lon.

[2022-05-17 10:04] ColmMassey commented on #16
So I think we need to look at how the map logic works, so that it will use the lat lon even when no address has been specified.

[2022-05-17 10:25] ColmMassey commented on #16
Even when I put a fake address in for SEA in the Airtable, it doesn't seem to be getting through. Needs closer look.

[2022-05-17 10:36] ColmMassey opened #17 "Linking to data from other sources through Airtable"
We need to design a workflow where data from sources like Co-ops uk is visible in the Airtable interface where OBO team members can select them, add extra parameters not specified from that source, like Primary Activity, Relationship to OBO, etc but without creating a duplication of data that will cause problems in the future.

Using this ticket to propose a workflow to evaluate.

- Create a csv t

[2022-05-17 14:19] ColmMassey commented on #17
@wu-lee "After rather more fidding than I'd  anticipated (our standard.csv files have different fields in some datasets, etc.) I've imported a table to Airtable which has the Oxford-postcoded entries
There  may be some rough edges. e.g Twitter and Facebook URIs have their stems truncated as in the data.
Presumably the simple filtering on Postcode will have filtered out Co-ops UK entries for organi

[2022-05-17 14:21] ColmMassey commented on #17
So that is the first two steps but for all the external datasets. Next step is to create the new columns and see how we can pull data from there into Organisations Obo.

[2022-05-17 16:06] wu-lee commented on #17
I've added the columns.  It works as expected, nominally.  The main annoyance is that Airtable's search dialog for adding the link is obtuse.  It shows the "primary field" first and foremost, which is the URI (that's the only guaranteed unique field.)  I don't really want that to get emphasised - I want the name, address, description and postcode to be.  This does not appear to be an option: altho

[2022-05-17 16:08] wu-lee commented on #17
With respect to the sausage machine: it will not break because a new field is added. The downloaded JSON file is converted to CSV, and only selected fields are used for the conversion, any others are ignored. Removing or renaming fields might break it, but we are not doing that.

[2022-05-17 16:26] ColmMassey commented on #17
Sorry for dising the Sausage Machine.

[2022-05-17 16:26] wu-lee commented on #17
Fragility, problems:
- On linking, seems there's an option to add records, which could be abused.
- The search is rubbish. [Can't see a way to make it less rubbish.](https://community.airtable.com/t/search-in-all-fields-link-to-record/32906/2)
- There may be several valid matches for an organisation
  - Which one to use?
  - Should we allow many links?
  - How does one know to keep looking?
  - Gi

[2022-05-17 16:38] ColmMassey commented on #17
If you have 2 browser tabs open, one with the _External Initiative_ table open and the other open at _Organisations ObO_ you can do the search in one, copy the uri from the one you like and swap tabs and then use that to search when you attempt to add a new entry in the _External Initiative_ column.

Not slick, but only a few seconds per link made.

[2022-05-17 16:44] ColmMassey commented on #17
Given that the _External Initiative_ column in the _Organisations ObO_ table must display the URI, can we change the _External Initiative Ref_ to be _External Initiative Name_ as 'visual clue' that a valid link has been made.

[2022-05-17 16:49] ColmMassey commented on #17
"Which one to use?
  Should we allow many links?
  Given many are linked external initiatives, they have equal (or practically indistinguishable) precedence, so should we want to acquire fields such as "address" from them, which one?"

Let start by only allowing one link. The admin will need to make an informed choice as to the most useful one. And give priority to entries manually entered in Airt

[2022-05-17 21:17] wu-lee commented on #17
No respect to Airtable, I adjusted the export to put the `Name` field first, so now it isn't unique (Airtable uses an internal ID for that I think), but the linked-record search is at least marginally usable.

Then I read your comments - so see what you think? I can switch back if necessary.

[Edit] The problem with simply linking to the name in a second field is that you only see that *after* lin

[2022-05-17 21:20] wu-lee commented on #17
Oops, wrong button.

Yes - there is only one link to another record allowed at the moment.

Not sure what you mean there?

If you mean index them from other datasets after exporting - no. If you mean can we add them as linked fields before exporting - yes.

[2022-05-19 08:52] ColmMassey commented on #17
That is a lot more usable. When there are multiple identical names, like Woodcraft Folk, they need to be careful to select the right one, by looking at postcodes etc. But usable, I think.

[2022-05-19 08:55] ColmMassey commented on #17
I think we need a chat to explore this. What's your timtable like today?

[2022-05-19 11:30] wu-lee commented on #17
Maybe at the end of the 1.30 DC/CO meeting?

[2022-05-19 16:46] ColmMassey commented on #17
So we can restructure the imported csv file that populates the External Initiatives table to that it includes a column indicating the data source. We can then create a custom view, so that when searching for the correct _External Initiative_ in the list, the user can see Name, Description, Data Source and Postcode. Should cover 99% of searches. We then create columns of derived fields, called  _Ex

[2022-05-19 16:48] ColmMassey commented on #17
If we are doing it this way, it the name _External Postcode_ etc. aren't quite right. Something like _Selected Postcode_ or something like that?...

[2022-06-15 10:42] ColmMassey commented on #16
Are we able to change this now?

[2022-06-15 11:06] wu-lee commented on #16
I've updated the custom popup code to show "Main Activity", ignoring the localised label, since ObO will not be localised.

We can decide if we want to update the vocab itself as a separate step.

[2022-06-15 13:49] ColmMassey commented on #17
This now works. @wu-lee do you want to add any more comments here, for the record and then we can close the issue?

[2022-06-16 07:43] wu-lee commented on #16
From Anna's email:
- Point 1 - re: where do non-located organisations show.  The default location thing is fixed now, I believe.
- Point 2 - Why is the ref ${labels.noLocation} - this is fixed.
- Point 3 - scope for editing - we have our proposal for linking tables and overriding fields. This seems to work for designated fields.
- Point 4 - "activites (modified)" - can be fixed in two ways, as men

[2022-06-16 07:47] #16 closed, assigned to wu-lee

[2022-06-16 08:19] wu-lee commented on #17
The only thing I might add is that there is still a manual step to update the table in Airtable, suing a Ruby script which non-destructively replaces the data there with data collected from the standard.csv files in a local install of open-data. But this seems fine.

[2022-06-16 08:33] #17 closed, assigned to wu-lee

[2022-06-30 08:43] wu-lee commented on #9
I think the next step here is just to pick some sort of a scheme and show that it works.  It doesn't so much matter what it is.

But that discussion should probably live in issue https://github.com/SolidarityEconomyAssociation/sea-map/issues/128 - I'll post there again with an update when there's something to review.

[2022-06-30 08:58] wu-lee commented on #3
Owned by Oxford have a development deployment of sea-map which hsa configurable initiative attributes, and, by bypassing the SPARQL pipeline, can obtain extra fields not in standard.csv, such as the "Relationship" field.

This was completed for a demo, and is currently hardwired to their case - it needs to be made configurable.

Possibly later, the SPARQL pipeline needs to be made more flexible su

[2022-06-30 09:32] ColmMassey commented on #9
I suggest practicing on the solidarity oxford map, as it is 'ours'.

[2022-06-30 12:56] wu-lee commented on #3
Let's move this to a new ticket

[2022-09-10 12:32] ColmMassey commented on #9
We are now evaluating a project for the Keep it in the Communkity Project. See https://docs.google.com/document/d/1zFwu1aYlR61DtiOwHs8EtBIz6DK2MEeGhcDSypq24_I/edit

Can you @MelissaMc20 @wu-lee think of any reason why we couldn't implement this? 24 seems like a lot of catagories. I recall there was some restriction on how many different icons one could have in a set. Did I remeber that correctly?

[2022-09-12 08:34] ColmMassey commented on #3
Does https://github.com/SolidarityEconomyAssociation/technology-and-infrastructure/issues/80 capture what is left to do in this ticket @wu-lee ?

[2022-09-20 13:25] wu-lee commented on #3
Yes, I think so - unless you want to include doing this *with* SPARQL on the roadmap?

[2022-09-22 13:05] #3 closed, assigned to wu-lee

[2022-09-22 13:22] ColmMassey commented on #9
Let's test new method with the KIITC project https://github.com/DigitalCommons/KIITC/issues/1

[2022-11-28 11:46] ColmDC opened #18 "ObO Directory needs am Unspecified option"
**Describe the bug**
The primary filter in the ObO directory does not have an Unspecified option.

**To Reproduce**
Open the panel [here](https://maps.solidarityeconomy.coop/obo-public/?showDatasetsPanel=false&disableClusteringAtZoom=12&maxZoomOnOne=8)

**Expected behavior**
We can select all the initiaties that don't have a primary activity specified.

[2022-11-28 11:49] ColmDC opened #19 "Airtable fields not getting updated in ObO public map."
**Describe the bug**
Report from ObO team: I’ve been finding some issues with the updating. Some of the changes to fields I’ve updated have appeared, but many haven’t even after a day. I’ve tried different ways of refreshing and entering new data but can’t work it out. I’ve added a new field in the Airtable called “map notes” in the “Organisations ObO” grid so have a look at that for more detail.

[2022-11-29 10:41] ColmDC commented on #19
From @wu-lee:
There are some errors in the data pipeline which would explain why the
map data isn't updating - these have been occurring since about mid-day
yesterday.

I'm investigating what's causing it...

[2022-11-29 19:13] wu-lee commented on #19
The problem which broke the pipeline is a quoting bug, which means that rows with addresses including single quotes like "St Leonard's" can't be unambiguously extracted from the CSV data, because the apostrophe is interpreted as a quote and this results in invalid data.

This shouldn't happen, but fixing it requires regenerating the external initiatives table, which is also not working due to shif

[2022-11-29 19:17] wu-lee commented on #19
Current workaround is to:
- override the "St Leonard's" Street Address field for Headington Fairtrade Co-op in the Organisations airtable to one without an apostrophe
- likewise remove the double link to External Initiatives table for The Children's Allotment
- fix the `converter` script so that it knows which fields are multi-valued and quotes accordingly

This seems to work for now, but the `air